<table>
    <thead>
        <tr>
            <th>Patient_ID</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Date_of_birth</th>
            

            
            
        </tr>
    </thead>
    <tbody>
        <% data.forEach(row =>{%>
        <tr>
            <td> <%= row.first_name %> </td>
            <td> <%= row. last_name %> </td>
            <td> <%= row. date_of_birth %> </td>
        </tr>
    <%});%>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Provider_ID</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Provider_Specialty</th>
            

            
            
        </tr>
    </thead>
    <tbody>
        <% data.forEach(row =>{%>
        <tr>
            <td> <%= row.first_name %> </td>
            <td> <%= row. last_name %> </td>
            <td> <%= row. Provider_Specialty %> </td>
        </tr>
    <%});%>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Patient_ID</th>
            <th>First_Name</th>
            
            <
            

            
            
        </tr>
    </thead>
    <tbody>
        <% data.forEach(row =>{%>
        <tr>
            <td> <%= row.first_name %> </td>
            
            
        </tr>
    <%});%>
    </tbody>
</table>
<table></table>
    <thead>
        <tr>
            <th>Provider_ID</th>
            <th>First_Name</th>
            <th>last_Name</th>
            <th>Provider_Specialty</th>

            
            
            

            
            
        </tr>
    </thead>
    <tbody>
        <% data.forEach(row =>{%>
        <tr>
            <td> <%= row.first_name %> </td>
            <td> <%= row.last_name %> </td>
            <td> <%= row.provider_specialty %> </td>
            
            
        </tr>
    <%});%>
    </tbody>
</table>


